.personal-section > img {
    float: right;
    margin-right: 15px;
    // @include media(1200px) {
        
    // }
}

.avatar {
    width: 100px;
    border-radius: 30px;
    @include media(768px) {
        width: 200px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    
}

 