.main-list,
.my-courses-list {     
    @include media(768px) {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px;  
        padding: 0;
        margin: 0;
        list-style: none;                      
    }      
}

.main-list__item {   
    padding: 5px; 
    @include media(768px) {
        flex-basis: calc((100% - 20px) / 2);  
        padding: 10px;
        background-color: var(--background-color-secondary);        
            &:last-child {
            background-color: var(--background-color);
            } 
    }  
}

.my-courses__img {
    @include media(1200px) {
        margin-left: 55px;
        margin-bottom: 5px;
    }
}

.my-courses__item {
    &:first-child {
        margin-bottom: 10px;
    }
    @include media(1200px) {
        &:last-child {
            margin-left: 132px;
            margin-bottom: 0;
        }
    }
}

.my-projects {
    display: flex;
    flex-direction: column;    
}

.main-content__title {
    display: flex;
    justify-content: center;
}

.main-list-title {
    margin-top: 0;
}

.my-projects__link {
    color: var(--header-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include font(16px, 700, 18px, 0.02em);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
}

.about-me__text {
    text-indent: 10px;
}

.experience__period {
    padding-bottom: 5px;
}

.my-courses__period,
.my-education__period {
    padding-top: 5px;
}