.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
 
  @include media(320px) {
    width: 320px;
  }

  @include media(480px) {
    width: 480px;
  }

  @include media(768px) {
    width: 768px;
  }

  @include media(1200px) {
    width: 1200px;
  }
}
