.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include media(1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.sidebar-section { 
  height: 100%;
  width: 400px;
  position: fixed; 
  background-color: var(--background-color);  
  padding-top: 20px;
  padding-left: 40px;
}

.main-section {
  margin-left: 260px; 
  font-size: 24px; 
  padding: 0px 50px;
}
