.title {
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--header-text-color);
  @include font(20px, 700, 28px, 0.03em);
  @include media(768px) {
    @include font(22px, null, 30px, 0.03em);
  }
  @include media(1200px) {
    @include font(25px, null, 32px, null);
    margin-bottom: 20px;
    margin-top: 15px;
   }
}
