.title {
  margin-bottom: 30px;
  color: var(--header-text-color);
  text-align: start;
  @include font(28px, 700, 33px, 0.03em);
  @include media(1200px) {
    @include font(36px, null, 42px, null);
    margin-bottom: 50px;
  }
}
