:root {
  --header-text-color: #212121;
  --link-list-color: #757575;
  --address-list-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --accent-filters-color: #ffffff;
  --background-color: #2f303a;
  --background-color-secondary: #f5f4fa;
  --border-color: #eeeeee;
  --socials-icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --modal-btn-color: #188ce8;
}
