:root {
  --header-text-color: #212121;
  --link-list-color: #757575;
  --address-list-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  
  --background-color: #e0ccf7;
  --background-color-secondary: #ffffff;
  --border-color: #eeeeee;
  --socials-icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
 
}
